/* banner */

.banner {

  background-image: linear-gradient(to right, #17062eca, #2f105aca, #ae2758);
  color: white;
  /* height: fit-content; */
  /* width: fit-content; */
}
.promo-title {
  font-family: "Cinzel", serif;
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
  margin-left: 12vw;
}

.con{
  
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.loginpage{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.abccc{
  margin-top: 9vh;
}
