* {
  margin: 0;
  /* box-sizing: border-box; */
}

.page {
  background-image: url(../image/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  /* background-image: url(../image/bg1.jfif); */
  /* background-size:cover; */
  /* background-repeat:no-repeat; */
  background-color: rgb(255, 248, 241);
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 2em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.headinglogin {
    font-family: 'Cinzel', serif;
    /* font-family: 'Lobster', cursive; */
  font-size: 3em;
  color: purple;
  font-weight: bolder;
  font-stretch: ultra-expanded;
}
.altlogin {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}
.select1{
    border: none;
    background-color: rgb(229, 229, 229);
    height: 3em;
    width: 80%;
    border-radius: 0.75em;
    text-align: center;
  /* padding: 2em; */
}
input{
  border: none;
  background-color: rgb(229, 229, 229);
  height: 3em;
  width: 80%;
  border-radius: 0.75em;
  text-align: center;
  /* padding: 2em;/ */
}
input:focus {
  outline-color: rgb(32, 177, 255);
}
.loginbtn {
  width: 40%;
  height: 3em;
  border-width: 2px;
  border-color: black;
  /* background-color: rgb(32, 177, 255); */
  font-size: large;
  color: purple;
  background-color: rgb(255, 256, 256);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.5em;
  cursor: pointer;
  
}

.loginbtn:hover {
  transform: scale(1.15);
}
.text {
  position: relative;
  bottom: 0.5em;
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}
