* {
  margin: 0;
  /* box-sizing: border-box; */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  /* background-image: url(../image/bg1.jfif); */
  /* background-size:cover; */
  /* background-repeat:no-repeat; */
  background-color: rgb(255, 248, 241);
  width: 55% ;
  height: 80vh;
  position: relative;
  border-radius: 2em;
  box-shadow: 0 2em 2em rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.headinglogin {
  font-family: "Cinzel", serif;
  /* font-family: 'Lobster', cursive; */
  font-size: 4vh;
  color: purple;
  font-weight: bolder;
  font-stretch: ultra-expanded;
}
.altlogin {
  width: 80%;
  height: 4vh;
  display: flex;
  justify-content: space-around;
}
.select1 {
  border: none;
  background-color: rgb(229, 229, 229);
  height: 8vh;
  width: 80%;
  border-radius: 0.75em;
  text-align: center;

  font-size: 1.3vw;
  /* padding: 2em; */
}
input {
  border: none;
  background-color: rgb(229, 229, 229);
  height: 8vh;
  width: 80%;
  border-radius: 0.75em;
  text-align: center;
  font-size: 1.3vw;
  /* padding: 2em;/ */
}
input:focus {
  outline-color: rgb(32, 177, 255);
}
.loginbtn {
  /* font-family: 'Cinzel', serif;/ */
  width: 80%;
  height: 2em;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: #af7ab3;
  font-size: large;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.loginbtn:hover {
  transform: scale(1.15);
}
.text {
  position: relative;
  bottom: 0.5em;
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}
@media (max-width: 1600px) {
  .cover {
    width: 70%;
  }
}
@media (max-width: 1601px) {
  .cover {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .cover {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  input {
    /* width:80%; */
    font-size: 4vw;
    height: 10vh;
  }
  .select1 {
    /* width: 80%; */
    font-size: 4vw;
    height:10vh;
  }
  .aa{
   background: transparent;
   width: 20px;
   padding: 5px;
   font-size: 2vw;
   line-height: 1;
   -webkit-appearance: none;
  }
  .loginbtn{
    height:4 em;
    font-size:4vw;
  }
}
