.sylebut{
    /* background-image: linear-gradient(to right,#2f105aca, #ae2758); */
    background-color:#632f6fca;
    height :4em;
   
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: white;
  padding: 2px;
}
.color{
    
  color: white;
  font-family: 'Cinzel', serif;
  /* font-family: 'Lobster', cursive; */
font-size: 1.5vw;
font-weight:200;
font-stretch: ultra-expanded;
}
a:hover{
    color: lightyellow;
    text-decoration: none;
}