.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: auto;
  }
  .column3{
    position: absolute;
    right: 40px;
  }
  .navbar {
    background-image: linear-gradient(to right, #17062eca,#2f105aca, #ae2758);
    padding: 0 !important;
    width: auto;
  }
  .navbar-brand img {
    height: 80px;
    width: auto;
    padding-left: 10px;
  }

  .logutbtn {
    width: auto;
    height: 3em;
    border-width: 2px;
    border-color: black;
    /* background-color: rgb(32, 177, 255); */
    font-size: large;
    color: purple;
    background-color: rgb(255, 256, 256);
    transition: 0.5s;
    border-radius: 0.5em;
    cursor: pointer;

    
  }
  .navbar{
    text-align: right;
  }